# Node modules
/node_modules/

# Build output
/dist/
/public/

# Cache and logs
/.vite/
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/hs_err_pid*

# Dependency directories
/pnpm-lock.yaml
/package-lock.json
/yarn.lock

# IDE or editor directories and files
.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace

# MacOS metadata
.DS_Store

# Linux/Windows system files
Thumbs.db
ehthumbs.db

# Astro specific build caches
/.astro/
