---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import MainContent from "../components/MainContent.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import StickyButton from "../components/StickyButton.astro";
---

<Layout title="Welcome to Spotify Electron">
  <div style="height: 100svh; overflow-y: hidden;">
    <Navbar />
    <Header />
  </div>

  <MainContent />
  <Footer />
  <StickyButton />
</Layout>

<style></style>
