---
const { icon } = Astro.props;
const { text } = Astro.props;
---

<div class="d-flex flex-row wrapperGoalCard">
    <img src={icon} alt="" />
    <p>{text}</p>
</div>

<style>
    .wrapperGoalCard {
        gap: 14px;
        align-items: center;
    }

    .wrapperGoalCard img {
        width: 62px;
        height: 62px;
    }

    .wrapperGoalCard p {
        margin-bottom: auto;
        margin-top: auto;
        font-size: 1.75rem;
        width: 100%;
    }

    @media (max-width: 1332px) {
        .wrapperGoalCard {
            gap: 28px;
        }
    }
</style>
