<header>
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <div
                class="d-flex align-items-center flex-column"
                style="margin-bottom: 3rem !important; margin-top: 1rem;"
            >
                <h1>
                    Welcome to <span
                        class="text-gradient"
                        style="white-space: nowrap;"
                        >Spotify Electron</span
                    >
                </h1>
                <h4 style="color:#adaaaa">Made by Antonio Martínez</h4>
            </div>
            <div
                class="d-flex align-items-center justify-content-center"
            >
                <a href="#goals">
                    <button class="my-btn"
                        ><p style="margin: 0 !important;">
                            Get started
                        </p></button
                    >
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="addSongLaptop.png" alt="" />
        </div>
    </div>

    <div
        class="d-flex flex-column justify-content-center align-items-center"
        style="height: 100%"
    >
        <div
            class="d-flex justify-content-center"
            style="border-bottom: 1px solid var(--app-logo-color);padding: 1%;"
        >
            <img class="tech-ico" src="icons/react.png" alt="" />
            <img class="tech-ico" src="icons/typescript.png" alt="" />
            <img class="tech-ico" src="icons/electronjs.png" alt="" />
            <img class="tech-ico" src="icons/python.png" alt="" />
            <img class="tech-ico" src="icons/mongodb.png" alt="" />
            <img class="tech-ico" src="icons/css.png" alt="" />
            <img class="tech-ico" src="icons/fastapi.png" alt="" />
            <img class="tech-ico" src="icons/boostrap.png" alt="" />
            <img class="tech-ico" src="icons/materialui.png" alt="" />
            <img
                class="tech-ico"
                src="icons/github_actions.png"
                alt=""
            />
        </div>
    </div>
</header>


<style>

header {
        margin: auto !important;
        max-width: 80rem !important;
        color: white !important;
        font-size: 20px !important;
        line-height: 1.6 !important;
        margin-bottom: 6rem !important;
        margin-top: 3rem !important;
        display: flex;
        flex-direction: column;
        height: 80%;
    }

    h1 {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
    }

    
    .my-btn {
        border: none;
        background-color: var(--app-logo-color-darker);
        border-radius: 8px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border-radius: 9999px;
        font-weight: 600;
        color: white;
    }

    .my-btn:hover {
        filter: brightness(0.75);
    }

    .tech-ico {
        width: 32px !important;
        margin: 0 10px 0 10px !important;
    }
</style>