<main>
    <div class="section" id="prueba">
        <h2>Contenido</h2>
        <p>aaaaaa</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</main>

<style>
    main {
        margin: auto !important;
        max-width: 80rem !important;
        color: white !important;
        font-size: 20px !important;
        line-height: 1.6 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        font-weight: 600;
        font-size: 4rem;
    }
    .section{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>