<main>

    <div style="background-color: var(--background-secondary);">
        <section id="goals">
            <h2>Goals</h2>
            <p>aaaaaa</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </section>
    </div>
    <div>
        <section id="tech">
            <h2>Tech</h2>
            <p>aaaaaa</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </section>
    </div>
    <div style="background-color: var(--background-secondary);">
        <section id="about">
            <h2>About</h2>
            <p>aaaaaa</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </section>
    </div>
</main>

<style>
    main {
        color: white !important;
        font-size: 20px !important;
        line-height: 1.6 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        font-weight: 600;
        font-size: 4rem;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: auto !important;
        max-width: 80rem !important;
        padding-top: 2rem;
    }
</style>
