---
import TheApp from "./TheApp.astro";
---

<main>
    <div class="section-wrapper">
        <section id="theapp">
            <div class="d-flex flex-row">
                <h2 style="margin-right: 15px;">The</h2><h2>App</h2>
            </div>
            <TheApp/>
        </section>
    </div>

    <div class="section-wrapper">
        <section id="goals">
            <h2>Goals</h2>
        </section>
    </div>
    <div class="section-wrapper">
        <section id="tech">
            <h2>Tech</h2>
            <p>aaaaaa</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </section>
    </div>
    <div class="section-wrapper">
        <section id="about">
            <h2>About</h2>
            <p>aaaaaa</p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
            /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </section>
    </div>
</main>

<style>
    main {
        color: white !important;
        font-size: 20px !important;
        line-height: 1.6 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main .section-wrapper:nth-child(odd) {
        background-color: var(--background-secondary);
    }
    h2 {
        font-weight: 600;
        font-size: 4rem;
        margin-bottom: 8rem;
    }
    h2::first-letter {
        color: var(--app-logo-color);
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: auto !important;
        max-width: 80rem !important;
        padding-top: 2rem;
    }

</style>
