<nav class="navbar navbar-expand-lg bg-dark" id="nav-container">
    <div class="container-fluid">
        <nav class="navbar bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img
                        src="SpotifyElectronLogo.png"
                        alt="SpotifyElectronLogo"
                        width="30"
                        height="30"
                    />
                </a>
            </div>
        </nav>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <a
                        class="navbar-brand"
                        href="#"
                        style="color:var(--naranja);">Spotify Electron</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#goals"
                        >Goals</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#tech"
                    >Tech</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about"
                        >About</a
                    >
                </li>
            </ul>
            <div
                style="margin-right: 1.5rem; display: flex; justify-content: center; align-items: center;"
            >
                <a
                    class="navbar-item-right"
                    href="https://github.com/AntonioMrtz/SpotifyElectron"
                >
                    <img
                        class="img-fluid"
                        src="icons/github.png"
                        alt="Antonio Martinez Photo Icon"
                        style="border-radius: 999px; width: 42px; height: 42px;"
                    />
                </a>
                <a
                    class="navbar-item-right"
                    href="https://github.com/AntonioMrtz/"
                >
                    <img
                        class="img-fluid"
                        src="icons/AntonioMrtzIco.jpg"
                        alt="Github Icon"
                        style="border-radius: 999px; width: 38px; height: 38px;"
                    />
                </a>
            </div>
        </div>
    </div>
</nav>

<style>
    #nav-container {
        border-bottom: 1px solid var(--spacer);
        padding: 0.75rem 0 0.75rem 0 !important;
    }
    .navbar {
        background-color: var(--backkground) !important;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar-brand {
        color: var(--app-logo-color) !important;
        font-weight: 600 !important;
        font-size: 1.35rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        color: white !important;
        font-weight: 400 !important;
        font-size: 1.15rem !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-link:hover {
        filter: brightness(0.75);
    }

    .navbar-item-right {
        margin-right: 4px;
    }

    .navbar-item-right:hover {
        filter: brightness(0.75);
    }
</style>
